:root {
    color-scheme: light dark;

    /* 
    --ns-display-blue:light-dark(#003082, #);
    --text-color:light-dark(#000000, # );
    --light-color-blue:light-dark(#0063D3 #);
    --input-color:light-dark(#C4C5CB, # );
    --fieldset-color:light-dark(#EAEBEE, # );
    --fieldset-bg: light-dark(#FFFFFF, );
    --bg-color-header:light-dark(#FFC917, # );
    --bg-color-main: light-dark(#E6E6E9, # );
    --btn-text: light-dark(#FFFFFF, # );
    --btn-shadow: light-dark(#004BA0, );
    --radio-color: light-dark(#00A888, );
    --focus: light-dark(#0063D3, );
    --hover-border: light-dark(#404144, );
    --error-color: light-dark(#EC0045, );
    */

    --display-blue: #003082;
    --text-color: #000000;
    --light-color-blue: #0063D3;
    --input-color: #C4C5CB;
    --fieldset-color: #EAEBEE;
    --fieldset-bg: #FFFFFF;
    --bg-color-header: #FFC917;
    --bg-color-main: #E6E6E9;
    --btn-text: #FFFFFF;
    --btn-shadow: #004BA0;
    --radio-color: #00A888;
    --focus: #0063D3;
    --hover-border: #404144;
    --error-color: #EC0045;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'NS Sans';
    src: url(../fonts/nssans-regular.woff2);
    /* font-weight: normal; */
}

@font-face {
    font-family: 'NS Sans';
    src: url(../fonts/nssans-bold.woff2);
    font-weight: bold;
}

@font-face {
    font-family: 'NS Sans';
    src: url(../fonts/nssans-italic.woff2);
    font-style: italic;
}

body {
    margin: 0;
    font-family: 'NS Sans', 'Roboto', sans-serif;
    font-size: 16px;
}

.visual-hidden {
    appearance: none;
}

h1, h2 {
    color: var(--display-blue);
    margin: 0;
    font-size: 35px;
}


header {
    margin: 0;
    padding: 1rem;

    /* letterlijk overgenomen van NS website: */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 10px 20px rgba(0, 0, 0, 0.04);
    background-color: var(--bg-color-header);

    p {
    text-align: center;
    background-color: red;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    }
}

main {
    background-color: var(--bg-color-main);
    padding-top: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 1.75rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    p {
        font-style: italic;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        max-width: 600px
    }
}

/* -------------------------------------- MARK: FORM
*/

form {
    margin: 0.75rem;
    max-width: 600px;
    width: 100%;

    &>fieldset{
        margin-bottom: 1rem;
        padding: 0.75rem 0.75rem 1.25rem;
        border-radius: 0.1rem;

        /* letterlijk overgenomen van NS website: */
        box-shadow: 0 2px 4px rgba(0, 0, 0, .03), 0 4px 8px rgba(0, 0, 0, .03), 0 8px 16px rgba(0, 0, 0, .03), 0 0 0 1px var(--fieldset-color);

        fieldset {
            margin-top: 1rem;
        }
    }
}


fieldset{
    border: none;
    
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: var(--fieldset-bg);
}

form>fieldset>legend {
    color: var(--display-blue);
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 3px var(--bg-color-header) solid;
    padding-bottom: 0.1rem;
    float: left;
}

label {
    margin: 1rem 0 .4rem;
}

input {
    border: var(--input-color) 1px solid;
    border-radius: 6px;
    padding: .5rem;
    font-family: 'NS Sans', 'Roboto', sans-serif;
}

input[type='text'], input[type='date'], input[type='email'] {
    min-height: 3rem;
    font-size: 1.12rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
    border-color: var(--hover-border);
    }
}

/* -------------------------------------- MARK: RADIO STYLING
*/
/* Dankzij: https://moderncss.dev/pure-css-custom-styled-radio-buttons/ */


.radio {
    display: flex;
    align-items: center;
}

input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0 1rem 0 0;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.0625rem var(--input-color) solid;
    transform: translateY(-0.03125em);
    display: grid;
    place-content: center;

    &:focus {
        outline: max(2px, 0.15em) solid var(--focus);
        outline-offset: max(2px, 0.15em);
    }

    &:checked {
        border-color: var(--radio-color);
    }

    &::before {
        content: "";
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1rem 1rem var(--radio-color);
    }

    &:checked::before{
        transform: scale(1);
    }
}


button {
    /* overgenomen van NS website */
    background-color: var(--light-color-blue);
    color: var(--btn-text);
    font-family: inherit;
    font-size: inherit;

    border: none;
    border-radius: 4px;
    padding: .6rem 1.15rem;
    width: 100%;

    box-shadow: inset 0 -.125rem 0 var(--btn-shadow);
    
    &:hover, &:focus {
        box-shadow: inset 0 -3.125rem 0 var(--btn-shadow);
        transition: box-shadow .15s ease-in-out;
        cursor: pointer;
    }
}

/* --------------------------------- MARK: IN/UIT KLAP
 */

 .dichtevraag {
    display: none
 }

fieldset:has(.fieldset-ja:checked) + fieldset {
    display: flex;
}

fieldset:has(.ja:checked) + div {
    display: block;
}

.adresnl, .adresbl {
    display: none;
}

fieldset:has(.nl:checked) .adresnl {
    display: flex;
}

fieldset:has(.bl:checked) .adresbl {
    display: flex;
}

/* --------------------------------- MARK: VOLGEND VR
 */

/* .gesl-form {
    display: none;
} */

/* --------------------------------- MARK: VALIDITY
 */

fieldset div {
    grid-template-columns: 1.3rem auto;
    grid-gap: .5rem;

    margin-top: .5rem;

    svg path{
        fill: var(--error-color);
    }

    p {
    color: var(--error-color);
    font-style: normal;
    font-size: 0.8rem;
    margin: 0;
    transform: translateY(0.18rem);
    }

}

.error {
    display: none;
}

input[type="text"]:user-invalid, input[type="date"]:user-invalid {
    border: 0.1rem var(--error-color) solid;  
    
    + div {
        display: grid;
    }
}

label:has(input[type="radio"]:user-invalid) + div {
        display: grid;
    }


/* datalist toevoegen (options) met landcodes, bij options het land, en dan de value is de landcode */
